[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "spf13-vim"]
	path = spf13-vim
	url = https://github.com/spf13/spf13-vim
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/gmarik/Vundle.vim
